{# Organization step: name + size #}
<div class="space-y-5">
    <div>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div>
        {{ form_label(form.size) }}
        {{ form_widget(form.size) }}
        {{ form_errors(form.size) }}
    </div>
</div>